:root {
  --purple: #6c006e;
  --blue: #493fcf;
  --black: #000;
  --green: #0d7904;
  --gray: #74767b;
  --light-gray: #E8E8E8;
  --ash: #939393;
  --white: #fff;
  --ruby-red: #94100E;
  --dark-silver: #707070;
  --Cobalt-blue: #1E2F5B;
  --thunder-balck: #2F2E2E;
  --Picton-blue: #1AB8EC;
  --Cod-Gray: #171717;
  --regal-blue: #013974;
}